<!DOCTYPE html>
<html lang="es">
<head>
    {% include "../base.html" %}
        <div>
        <a href="/">Inicio</a>
    {% if contexto.is_authenticated %}
            |
        <a href="/salir_admin">Cerrar sesión</a>
    {% else %}
            |
        <a href="/registrar_admin">Registrar usuario</a>
    </div>
    {% endif %}
 </head>
<body>
    {% if contexto.is_authenticated %}
    <title>Admin</title>
    <div class="container text-center">
        <p>Administrar prestamos</p>
        <div class='jumbotron'>
            <center>
                <div>
                    <table id="adminTable" class="table table-hover table-sm ">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>dni</th>
                                <th>nombre</th>
                                <th>apellido</th>
                                <th>email</th>
                                <th>monto</th>
                                <th>estado aprobacion</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for prestamo in contexto.prestamos %}
                            <tr>
                                <td> {{ prestamo.id }} </td>
                                <td> {{ prestamo.dni }} </td>
                                <td> {{ prestamo.nombre }} </td>
                                <td> {{ prestamo.apellido }} </td>
                                <td> {{ prestamo.email }} </td>
                                <td> {{ prestamo.monto }} </td>
                                <td> {{ prestamo.estado }} </td>
                                <td> <a href="{%url 'forms:cambiar_estado' id=prestamo.id %}"> <button class="btn btn-secondary btn-lg">CambiarEstado</button>  </a> </td>
                                <td> <a href="{%url 'forms:borrar' id=prestamo.id %}"> <button class="btn btn-danger btn-lg">Borrar</button>  </a> </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </center>
        </div>
    </div>
    {% else %}
    <title>Iniciar sesión</title>
    <div class="container text-center">
        <p>Administrar prestamos</p>
        <div class='jumbotron'>
            <form method="POST">
            {{ login_form.as_p }}
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-lg">Login</button>
            </form>
        </div>



    <hr />

    </div>

    {% endif %}



</body>
</html>