<!DOCTYPE html>
<html lang="es">
<head>
    {% include "../base.html" %}
    <div>
        <a href="/">Inicio</a>
    </div>
    <title>Registrar admin</title>
</head>
<body>
    <div class="container text-center pt-5">
        <h1>Registracion</h1>
        <div class='jumbotron'>
            <center>
                <form method="POST">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success btn-lg" >Registrar</button>
                </form>
                <hr />
            </center>
        </div>
    </div>




</body>
</html>