<!DOCTYPE html>
<html lang="es">
<head>
    {% include "../base.html" %}
    <div>
        <a href="/">Inicio</a>
    </div>
    <title>Mis Prestamos</title>

</head>
<body>
 <div class="container text-center pt-5">
        <h1>Hola {{ contexto.nombre }}!!</h1>
        <div class='jumbotron'>
            <center>
                <pre>
                <p>Tu prestamo de: ${{ contexto.monto }}  se encuentra {% if contexto.resultado %} aprobado! {% else %} desaprobado :({% endif %} </p>
            </pre>

            </center>
        </div>
    </div>


</body>
</html>