<!DOCTYPE html>
<html lang="es"><head>
  {% include "../base.html" %}
  <div>
        <a href="/">Inicio</a>
  </div>
  <title>Mis forms</title>


</head><body>
  <div class="container text-center pt-5">
    <h1>Hola</h1>
    <p>Solicitar prestamo</p>
    {% if errores%}
    {% for e in errores %}
        <p class="text-danger" >{{ e }}</p>
    {% endfor %}
    {% endif %}
    <div class='jumbotron'>
      <center>
        <div class="text-left" style="max-width:500px">
          <form action="{% url 'forms:mi_prestamo' %}" method="post">
            {% csrf_token %}
            {% for field in register_form %}
            <div class='form-group'>
              <label for="{{ field.name }}">{{ field.label }}</label>
              {{ field }}
            </div>
            {% endfor %}
            <br>
            <center><button type="submit" class="btn btn-success btn-lg">Registrar prestamo</button></center>
          </form>
        </div>

      </center>
    </div>
  </div>

</body>
</html>