<!DOCTYPE html>
<html lang="es">
    <title>Inicio</title>
<head>
    {% include "base.html" %}
</head>
<body>
    <div class="container text-center pt-5">
        <h1>Hola</h1>
        <div class='jumbotron'>
            <center>
                <p><a href="/mi_prestamo">Solicitar Prestamo</a></p>
                <p><a href="/prestamos_admin">Acceso Admin</a></p>
            </center>
        </div>
    </div>
</body>
</html>